.plug-payments__container {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.plug-payments__content {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > checkout-radio-field {
    margin-bottom: calc(
      var(--plug-checkout-spacing-xxs) + var(--plug-checkout-spacing-xs)
    );
  }

  & > plug-payments-boleto > checkout-manual-payment,
  & > plug-payments-pix > checkout-manual-payment {
    margin-bottom: var(--plug-checkout-spacing-sm);
  }

  & > plug-payments-boleto > checkout-manual-payment > checkout-typography,
  & > plug-payments-pix > checkout-manual-payment > checkout-typography {
    padding: 0px var(--plug-checkout-spacing-sm);
  }
}
