.malga-payments-drip-installments__container {
  display: flex;
  flex-direction: column;
}

.malga-payments-drip-installments__item {
  @extend %reset;

  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;

  &-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--malga-checkout-color-grey-light);

    &--colored {
      background-color: var(--malga-checkout-color-brand-light);
    }
  }

  &-description {
    display: flex;
    flex-direction: column;
    margin-left: var(--malga-checkout-spacing-sm);

    & > checkout-typography {
      & > span {
        color: var(--malga-checkout-color-grey-light);
      }
    }

    &-cashback {
      @extend %typography-body1;
      color: var(--malga-checkout-color-grey-light);

      & > strong {
        font-weight: 700;
        color: var(--malga-checkout-color-grey-darkness);
      }
    }
  }

  &-divider {
    width: 2px;
    height: 20px;
    background-color: #E5E5E5;
    margin-left: var(--malga-checkout-spacing-xxs);
  }
}
