# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/.pnp
**/.pnp.js
**/lerna-debug.log
**/loader
**/www

# testing
**/coverage

# production
**/build

# production
**/dist
**/dist-transpiled
**/__ivy_ngcc__

# misc
**/DS_Store
**/.DS_Store
**/*.pem

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# local env files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

