.checkout-error-message {
  @extend %centralized;

  padding: var(--plug-checkout-spacing-xxs) 0px;
  border-radius: var(--plug-checkout-border-radius-default);
  text-align: center;
  background: var(--plug-checkout-color-warning-light);
  margin-top: var(--plug-checkout-spacing-xs);

  &--full-width {
    width: 100%;
  }
}
