.checkout-error-message {
  @extend %centralized;

  padding: var(--plug-checkout-spacing-xxs);
  border-radius: var(--plug-checkout-border-radius-default);
  text-align: center;
  background: var(--plug-checkout-color-warning-light);

  &--full-width {
    width: 100%;
  }
}
