$typography-variantions-map: (
  'header5': typography-header5,
  'header6': typography-header6,
  'subtitle1': typography-subtitle1,
  'subtitle2': typography-subtitle2,
  'body1': typography-body1,
  'body2': typography-body2,
  'button': typography-button,
  'label': typography-label,
);

$typography-colors-map: (
  'white': var(--plug-checkout-color-accent-light),
  'dark': var(--plug-checkout-color-grey-dark),
  'warning': var(--plug-checkout-color-warning-middle),
);

.checkout-typography {
  @each $key, $value in $typography-variantions-map {
    &--#{$key} {
      @extend %reset;
      @include typography($value: $value);
    }
  }

  @each $key, $value in $typography-colors-map {
    &--#{$key} {
      color: $value;
    }
  }
}
