.malga-payments-credit-form__container {
  display: flex;
  margin-top: var(--malga-checkout-spacing-xs);
  margin-bottom: var(--malga-checkout-spacing-md);
  margin-left: auto;
  margin-right: auto;
}

.malga-payments-credit-form__form {
  width: 100%;

  & > checkout-text-field {
    margin-top: var(--malga-checkout-spacing-xs);
  }

  & > checkout-select-field {
    margin-top: var(--malga-checkout-spacing-xs);
  }
}

.malga-payments-credit-form__row-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  margin: 0px;
  margin-top: var(--malga-checkout-spacing-xs);
  padding: 0px;

  & > checkout-text-field:first-child {
    margin-right: var(--malga-checkout-spacing-xs);
  }

  & > checkout-text-field:last-child {
    margin-left: var(--malga-checkout-spacing-xs);
  }
}

.malga-payments-credit-form__save-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(--malga-checkout-spacing-default);
  margin-bottom: var(--malga-checkout-spacing-xs);

  & > checkout-typography {
    font-weight: 400;
    margin-left: var(--malga-checkout-spacing-sm);
  }
}
