.malga-payments-credit-form__container {
  display: flex;
  margin-top: var(--malga-checkout-spacing-xs);
  margin-bottom: var(--malga-checkout-spacing-md);
  margin-left: auto;
  margin-right: auto;
}

.malga-payments-credit-form__form {
  width: 100%;

  & > checkout-text-field {
    margin-top: var(--malga-checkout-spacing-sm);
  }

  & > checkout-select-field {
    margin-top: var(--malga-checkout-spacing-sm);
  }
}

.malga-payments-credit-form__container {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: var(--malga-checkout-spacing-sm);
  padding: 0px;
  margin: 0px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: var(--malga-checkout-spacing-sm);
  }

}

.malga-payments-credit-form__column-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
  margin-top: var(--malga-checkout-spacing-sm);
  gap: var(--malga-checkout-spacing-xs);

}

.malga-payments-credit-form__save-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(--malga-checkout-spacing-default);
  margin-bottom: var(--malga-checkout-spacing-sm);

  & > checkout-typography {
    font-weight: 400;
    margin-left: var(--malga-checkout-spacing-sm);
  }
}
