.malga-payments-drip-iframe__container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--malga-checkout-spacing-xs);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(29, 31, 42, 0.8);
  transition: background-color 0.5s ease;
  z-index: 30;
  overflow: hidden;
}

.malga-payments-drip-iframe__modal {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--malga-checkout-color-accent-light);
  border-radius: 8px;
  animation: moveUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

  & > iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  @include lg {
    width: 900px;
    min-height: 640px;
    max-height: 690px;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0px);
  }
}


