.malga-checkout-full-header__container {
  position: static;
  display: block;
  width: 100%;
  height: 80px;
  margin-top: var(--malga-checkout-spacing-sm);
  margin-bottom: var(--malga-checkout-spacing-md);
}

.malga-checkout-full-header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--malga-checkout-spacing-sm);
  position: relative;

  @include md {
    justify-content: space-between;
  }
}

.malga-checkout-full-header__logo {
  max-width: 200px;
  max-height: 72px;

  @include md {
    margin-left: var(--malga-checkout-spacing-md);
  }

  @include lg {
    margin-left: 0;
  }
}

.malga-checkout-full-header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  border: none;
  background: transparent;
  left: 10px;

  @include md {
    left: 10px;
  }

  @include lg {
    left: -60px;
  }
}

.malga-checkout-full-header__brand-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.malga-checkout-full-header__message {
  display: none;

  @include md {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 75px;
  }

  & > h5 {
    @extend %typography-label;
    color: var(--malga-checkout-color-grey-darkness);
    margin-left: var(--malga-checkout-spacing-xs);
  }
}

.malga-checkout-full-header__language {
  display: none;

  @include md {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.malga-checkout-full-header__progress-horizontal {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  margin: 0;
  background-color: rgba(211, 222, 243, 1);
}

.malga-checkout-full-header__bar-horizontal {
  width: 50%;
  height: 100%;
  margin-left: 0;
  background-color: var(--malga-checkout-color-brand-normal);

  animation-name: spinner;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes spinner {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
    margin-left: 50%;
  }
  100% {
    width: 0;
    margin-left: 100%;
  }
}
