@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  /* Colors */
  --plug-checkout-color-brand-accent-light: #4ebff1;
  --plug-checkout-color-brand-accent-normal: #0055a2;

  --plug-checkout-color-brand-light: #0091ea;
  --plug-checkout-color-brand-normal: #5c7ec0;
  --plug-checkout-color-brand-middle: #344383;
  --plug-checkout-color-brand-dark: #141b4d;

  --plug-checkout-color-grey-light: #aaafc5;
  --plug-checkout-color-grey-normal: #8b90a7;
  --plug-checkout-color-grey-middle: #5e6277;
  --plug-checkout-color-grey-dark: #3f4252;
  --plug-checkout-color-grey-darkness: #1d1f2a;

  --plug-checkout-color-accent-light: #ffffff;
  --plug-checkout-color-accent-normal: #eef2f6;
  --plug-checkout-color-accent-middle: #aebfd0;

  --plug-checkout-color-warning-light: #fff8e1;
  --plug-checkout-color-warning-normal: #fac30e;
  --plug-checkout-color-warning-middle: #ffa200;

  --plug-checkout-color-success: #32c000;

  /* Typography */
  --plug-checkout-typography-family: 'Roboto', sans-serif;

  /* Spacings */
  --plug-checkout-spacing-xxs: 4px;
  --plug-checkout-spacing-xs: 8px;
  --plug-checkout-spacing-sm: 16px;
  --plug-checkout-spacing-default: 24px;
  --plug-checkout-spacing-md: 32px;
  --plug-checkout-spacing-lg: 48px;
  --plug-checkout-spacing-xlg: 64px;
  --plug-checkout-spacing-xxlg: 96px;

  /* Sizes */
  --plug-checkout-size-min-width: 250px;

  /* Border Radius */
  --plug-checkout-border-radius-default: 4px;

  /* Transitions Time */
  --plug-checkout-transition-slow: 0.3s;
  --plug-checkout-transition-default: 0.5s;
}
