@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  /* Colors */
  --malga-checkout-color-page-background: #eef2f6;

  --malga-checkout-color-brand-accent-light: #79DBD4;
  --malga-checkout-color-brand-accent-normal: #39BFAD;

  --malga-checkout-color-brand-clean: #C3F4EF;
  --malga-checkout-color-brand-light: #79DBD4;
  --malga-checkout-color-brand-normal: #39BFAD;
  --malga-checkout-color-brand-middle: #2FAC9B;
  --malga-checkout-color-brand-dark: #147F70;

  --malga-checkout-color-grey-light: #666666;
  --malga-checkout-color-grey-normal: #4D4D4D;
  --malga-checkout-color-grey-middle: #333333;
  --malga-checkout-color-grey-dark: #1A1A1A;
  --malga-checkout-color-grey-darkness: #000000;

  --malga-checkout-color-accent-light: #ffffff;
  --malga-checkout-color-accent-normal: #F1F1F1;
  --malga-checkout-color-accent-middle: #CBCBCB;

  --malga-checkout-color-warning-light: #FFF8E6;
  --malga-checkout-color-warning-normal: #F9DF8D;
  --malga-checkout-color-warning-middle: #FFA400;

  --malga-checkout-color-modal-success: #00AE42;
  --malga-checkout-color-modal-error: #ED3A3D;
  --malga-checkout-color-modal-neutral: #4D4D4D;
  --malga-checkout-color-modal-action-button-error: #000000;
  --malga-checkout-color-modal-action-button-error-hover: #333333;
  --malga-checkout-color-modal-action-button-success: #000000;
  --malga-checkout-color-modal-action-button-success-hover: #333333;
  --malga-checkout-color-modal-action-button-success-font-color: #ffffff;
  --malga-checkout-color-modal-action-button-error-font-color: #ffffff;

  /* Typography */
  --malga-checkout-typography-family: 'Inter', sans-serif;

  /* Spacings */
  --malga-checkout-spacing-xxs: 4px;
  --malga-checkout-spacing-xs: 8px;
  --malga-checkout-spacing-sm: 16px;
  --malga-checkout-spacing-default: 24px;
  --malga-checkout-spacing-md: 32px;
  --malga-checkout-spacing-lg: 48px;
  --malga-checkout-spacing-xlg: 64px;
  --malga-checkout-spacing-xxlg: 96px;

  /* Sizes */
  --malga-checkout-size-min-width: 250px;

  /* Border Radius */
  --malga-checkout-border-radius-default: 4px;
  --malga-checkout-border-radius-md: 6px;
  --malga-checkout-border-radius-lg: 20px;

  /* Transitions Time */
  --malga-checkout-transition-slow: 0.3s;
  --malga-checkout-transition-default: 0.5s;
}
