%reset {
  font-family: var(--malga-checkout-typography-family);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

%centralized {
  display: flex;
  align-items: center;
  justify-content: center;
}
