%typography-header5 {
  font-family: var(--plug-checkout-typography-family);
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}

%typography-header6 {
  font-family: var(--plug-checkout-typography-family);
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}

%typography-subtitle1 {
  font-family: var(--plug-checkout-typography-family);
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
}

%typography-subtitle2 {
  font-family: var(--plug-checkout-typography-family);
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
}

%typography-body1 {
  font-family: var(--plug-checkout-typography-family);
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}

%typography-body2 {
  font-family: var(--plug-checkout-typography-family);
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

%typography-button {
  font-family: var(--plug-checkout-typography-family);
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

%typography-label {
  font-family: var(--plug-checkout-typography-family);
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}
