.plug-payments-credit-form__container {
  display: flex;
  margin-top: var(--plug-checkout-spacing-xs);
  margin-left: auto;
  margin-right: auto;
}

.plug-payments-credit-form__form {
  width: 100%;

  & > checkout-text-field {
    margin-top: var(--plug-checkout-spacing-xs);
  }

  & > checkout-select-field {
    margin-top: var(--plug-checkout-spacing-xs);
  }
}

.plug-payments-credit-form__row-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  margin: 0px;
  margin-top: var(--plug-checkout-spacing-xs);
  margin-bottom: var(--plug-checkout-spacing-xs);
  padding: 0px;

  & > checkout-text-field:first-child {
    margin-right: var(--plug-checkout-spacing-xs);
  }

  & > checkout-text-field:last-child {
    margin-left: var(--plug-checkout-spacing-xs);
  }
}
