.plug-checkout-full-footer__container {
  display: block;
  width: 100%;
}

.plug-checkout-full-footer__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--plug-checkout-color-grey-darkness);
  margin: var(--plug-checkout-spacing-md) 0;

  @extend %typography-label;
}
