.checkout-modal-pix__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;

  @include md {
    width: 585px;
    height: auto;
  }
}

.checkout-modal-pix__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--malga-checkout-spacing-default) 0
    var(--malga-checkout-spacing-md) 0;
  background: var(--malga-checkout-color-modal-neutral);

  @include md {
    flex-direction: row;
    height: 170px;
    padding: 0;
    border-radius: var(--malga-checkout-border-radius-lg)
      var(--malga-checkout-border-radius-lg) 0 0;
  }

  & > checkout-icon {
    display: none;

    @include md {
      display: block;
      margin-right: var(--malga-checkout-spacing-default);
      margin-bottom: 0;
    }
  }

  & > checkout-typography > h3 {
    width: 300px;
    text-align: center;

    @include md {
      width: auto;
      text-align: start;
    }
  }
}

.checkout-modal-pix__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--malga-checkout-spacing-md)
    var(--malga-checkout-spacing-default);
  background: var(--malga-checkout-color-accent-light);
  position: relative;

  @include md {
    max-height: 500px;
    overflow: auto;
    border-radius: 0 0 var(--malga-checkout-border-radius-lg)
      var(--malga-checkout-border-radius-lg);
  }

  & > checkout-typography > h4 {
    color: var(--malga-checkout-color-grey-middle);
    text-align: center;
  }

  & > checkout-typography > h5 {
    color: var(--malga-checkout-color-grey-darkness);
    font-weight: 400;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 26px;
  }

  &--header-detail {
    position: absolute;
    display: block;
    height: 10px;
    width: 100%;
    background: var(--malga-checkout-color-accent-light);
    border-radius: 20px 20px 0 0;
    top: -10px;
    left: 0px;

    @include md {
      display: none;
    }
  }
}

.checkout-modal-pix__qr-code-informations {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--malga-checkout-spacing-sm);
  border-radius: var(--malga-checkout-border-radius-md);
  background: var(--malga-checkout-color-accent-normal);
  margin-bottom: var(--malga-checkout-spacing-md);

  @include md {
    flex-direction: row;
  }

  & > img {
    width: 100px;
    height: 100px;

    @include md {
      width: 147px;
      height: 147px;
      margin-right: var(--malga-checkout-spacing-md);
    }
  }

  &-clipboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    margin-top: var(--malga-checkout-spacing-default);

    @include md {
      width: auto;
      margin-top: 0;
    }

    & > checkout-clipboard-button {
      display: none;

      @include md {
        display: block;
      }
    }

    & > checkout-typography > p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: 'Roboto Mono', monospace;
      font-size: 13px;
      letter-spacing: 0.5px;

      @include md {
        font-size: 16px;
        margin-bottom: var(--malga-checkout-spacing-md);
      }
    }
  }
}

.checkout-modal-pix__clipboard-button-mobile {
  display: flex;
  justify-content: center;
  margin-bottom: var(--malga-checkout-spacing-md);

  @include md {
    display: none;
  }
}

.checkout-modal-pix__payment-informations {
  margin-bottom: var(--malga-checkout-spacing-default);

  p {
    @extend %typography-field;
    padding: 0;
    margin: 0;
    line-height: 24px;
    color: var(--malga-checkout-color-grey-darkness);

    & > strong {
      font-weight: bold;
    }
  }

  &--countdown {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--malga-checkout-spacing-lg);

    @include md {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    & > p {
      margin-top: calc(-1 * var(--malga-checkout-spacing-default));

      @include md {
        margin-top: 0;
      }
    }

    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;

      & > checkout-countdown {
        margin-left: var(--malga-checkout-spacing-default);

        @include md {
          margin-left: var(--malga-checkout-spacing-xs);
        }
      }
    }
  }
}

.checkout-modal-pix__informations {
  & > checkout-typography > h5 {
    font-weight: bold;
    margin-bottom: var(--malga-checkout-spacing-default);
    text-align: center;
  }

  & > ul > li,
  & > ol > li {
    @extend %typography-field;
    color: var(--malga-checkout-color-grey-darkness);
    padding: 0;
    margin: 0;
    margin-bottom: var(--malga-checkout-spacing-default);
  }

  & > ol {
    padding: 0 var(--malga-checkout-spacing-default);
    list-style-type: decimal;
  }

  & > ul {
    padding: 0 var(--malga-checkout-spacing-default);
  }
}

.checkout-modal-pix__action-button {
  display: flex;
  justify-content: center;
  margin-top: var(--malga-checkout-spacing-sm);
  padding-bottom: var(--malga-checkout-spacing-sm);

  @include md {
    padding-bottom: 0;
  }
}
